@import '/src/styles/utils.scss';

.wrapper {
  max-width: 200px;
  margin: 10px auto;
  padding: 10px;
  background-color: $brown;
  color: white;
  border-radius: 5px;
}

.text {
  text-align: center;
}
